<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>production</string>
	<key>http</key>
	<dict>
		<key>production</key>
		<string>https://tracolasia.com/api/</string>
		<key>local</key>
		<string>http://192.168.2.135/tracol-food-package-delivery-yii2-1479/api/</string>
	</dict>
</dict>
</plist>
